:root {
  //font
  --fontFamilyMain: "Courier New", "Times New Roman", Serif;

  --fontSizeM: 16px;
  --fontLineM: 24px;
  --fontM: var(--fontSizeM) / var(--fontLineM) var(--fontFamilyMain);

  --fontSizeL: 24px;
  --fontLineL: 32px;
  --fontL: var(--fontSizeL) / var(--fontLineL) var(--fontFamilyMain);

  //sizes
  --navbarHeight: 50px;

  --sidebarWidth: 300px;
  --sidebarWidthCollapsed: 80px;
}
