.SidebarItem {
  .item {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      fill: var(--inverted-primary-color);
    }

    .link {
      opacity: 1;
    }
  }
}

.collapsed {
  .item {
    .link {
      opacity: 0;
      height: 0;
      width: 0;
    }
  }
}
