@import "./variables/global.scss";
@import "./reset.scss";
@import "./themes/light.scss";
@import "./themes/dark.scss";

.app {
  font-size: $fontSizeM;
  line-height: $fontLineM;
  font-family: $fontFamilyMain;

  background-color: var(--bgColor);
  color: var(--primaryColor);

  min-height: 100vh;
}
