$fontFamilyMain: "Courier New", "Times New Roman", Serif;

$fontSizeM: 16px;
$fontLineM: 24px;
$fontM: $fontSizeM $fontLineM $fontFamilyMain;

$fontSizeL: 24px;
$fontLineL: 32px;
$fontM: $fontSizeL $fontLineL $fontFamilyMain;
