.Navbar {
  width: 100%;
  height: var(--navbarHeight);
  background: var(--invertedBgColor);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  margin-left: auto;
  display: flex;
  gap: 15px;
}
