.ProfilePageHeader {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  .editBtn {
    margin-left: auto;
  }

  .formatBtns {
    display: flex;
    gap: 10px;
    margin-left: auto;
  }
}
